@charset "UTF-8";
/*width*/
/*width*/
/*text*/
/*box*/
/*button*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*header*/
header {
  width: 100%;
  height: auto;
  background: rgb(240, 240, 240);
  position: sticky;
  top: 0;
  z-index: 6;
}

#top {
  width: 1450px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  transition: all 300ms ease;
}

.logo {
  width: 100px;
  height: auto;
}

.logo img {
  margin-top: 5px;
  width: 90%;
  height: 90%;
}

header ul {
  width: 1%;
  display: flex;
  align-items: center;
}
header ul li {
  font-size: 1.3rem;
  margin: 10px;
  font-weight: bold;
  white-space: nowrap;
}
header ul img {
  width: 29px;
  height: 29px;
  margin-top: 5px;
}

li a:hover {
  color: #09255d;
}

#top .active {
  background: transparent;
  color: yellow;
}

/*햄버거 아이콘*/
.menu_icon {
  position: relative;
  width: 42px;
  height: 35px;
  margin-top: 32px;
}

.menu_icon span {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 7px;
  background: #333;
  border-radius: 4px;
  transform: translate(-50%, 0) rotate(0deg);
  transition: 0.2s ease-in-out;
}

.menu_icon span:nth-child(1) {
  top: 0px;
}

.menu_icon span:nth-child(2),
.menu_icon span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu_icon span:nth-child(4) {
  bottom: 0;
}

.menu_icon.active span:nth-child(1) {
  top: 50%;
  width: 0;
  transform: translate(-50%, -50%);
}

.menu_icon.active span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu_icon.active span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu_icon.active span:nth-child(4) {
  bottom: 50%;
  width: 0;
  transform: translate(-50%, 50%);
}

/*메뉴바*/
.bg {
  width: 100%;
  height: 300px;
  background: rgb(121, 113, 29);
  display: none;
}

/*footer*/
footer {
  height: auto;
  width: 100%;
  background: rgb(238, 238, 238);
  background: #09255d;
  color: white;
}

#bottom {
  width: 1450px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.bottombox {
  width: 100%;
  height: auto;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.bottombox img {
  width: 252px;
}

.bottombox h2 {
  font-size: 2rem;
  font-weight: 800;
}

.bottombox p {
  font-size: 1.2rem;
  line-height: 50px;
}

.p_hover span:hover {
  color: gray;
}

.iconbox {
  cursor: pointer;
}

.iconbox img {
  margin: 2%;
}

.iconbox img:hover {
  opacity: 0.8;
}

/*slider*/
#slider {
  width: 1450px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100%;
  height: auto;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box button {
  width: 230px;
  height: 50px;
  background: rgb(202, 202, 202);
  border-radius: 30px;
  border: none;
  position: relative;
  bottom: 5%;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.box .textbox {
  margin-bottom: 20%;
  position: relative;
}
.box .textbox h1 {
  line-height: 50px;
  font-weight: 800;
}
.box .textbox p {
  line-height: 30px;
  font-size: 0.9em;
}
.box .sub_textbox {
  width: 380px;
  position: absolute;
  right: 0;
  bottom: -56%;
  color: rgb(87, 87, 87);
  white-space: nowrap;
}
.box .colorbox {
  width: 230px;
  height: 10px;
  background: black;
}
.box .slider_book {
  width: 501px;
  height: 698px;
  background: #09255d;
  position: relative;
  left: 20%;
  transform: translateX(100px);
  transition: all 3s;
  opacity: 0;
}
.box .slider_book .slider_book_cover {
  width: 440px;
  height: 630px;
  position: absolute;
  right: 23%;
  top: 5%;
  background-image: url(../img/slider_img.png);
  background-size: cover;
}

/*text*/
/*box*/
/*button*/
/*width*/
#advertisement {
  width: 1450px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#advertisement .box {
  width: 100%;
  background: rgb(186, 201, 105);
  height: 350px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#advertisement .box .bannerbox {
  width: 40%;
  height: 350px;
  display: flex;
}
#advertisement .box .banner_text_box {
  width: 40%;
  height: 350px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  position: relative;
  left: 30px;
  white-space: nowrap;
}
#advertisement .box .banner_text_box h2 {
  font-size: 2.5em;
}
#advertisement .box .banner_text_box h3 {
  font-weight: bold;
  font-size: 2em;
  color: #dddddd;
}

/*width*/
/*text*/
/*box*/
/*button*/
/*page8*/
#twobox {
  width: 1450px;
  margin: 0 auto;
  height: 880px;
  display: flex;
  justify-content: space-between;
}
#twobox .box:nth-of-type(1) {
  width: 100%;
  margin: 0;
}
#twobox .box:nth-of-type(2) {
  width: 100%;
  margin: 0;
}
#twobox .minibanner {
  width: 100%;
  height: 80px;
  background: #09255d;
}
#twobox h1 {
  line-height: 80px;
}
#twobox img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.minicover {
  display: flex;
  height: 800px;
  flex-wrap: wrap;
  justify-content: center;
  border-right: 3px solid #09255d;
}
.minicover button {
  width: 150px;
  height: 50px;
  color: black;
  background: rgb(240, 240, 240);
  border: none;
  margin-top: 15%;
}

.minibox {
  width: 345px;
  height: 575px;
  margin: 5px;
  border-radius: 30px;
  margin-top: 10%;
  float: left;
}

.minicover2 {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  position: relative;
  justify-content: center;
}
.minicover2 button {
  position: relative;
  width: 150px;
  height: 50px;
  margin-top: 17%;
  color: black;
  background: rgb(240, 240, 240);
  border: none;
}

.minibox2 {
  width: 345px;
  height: 256px;
  margin: -12px 5px;
  margin-top: 10%;
  float: left;
  cursor: pointer;
  border-radius: 30px;
  overflow: hidden;
}

.minibox2 h4 {
  position: absolute;
  text-align: center;
  margin-top: 10px;
}

.minibox2 img {
  transition: all 0.3s linear;
}

.minibox2 img:hover {
  transform: scale(1.3);
  opacity: 0.7;
}

button:hover {
  background: #09255d;
  color: white;
}

.swiper-box {
  position: relative;
  cursor: pointer;
}

.first {
  width: 94%;
  margin: 0 auto;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  margin-top: 60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 92%;
  margin-left: 10px;
  margin-right: 10px;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  position: relative;
}

.swiper-slide .light {
  height: 79.7%;
  width: 4px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 15px;
  top: 1px;
  z-index: 5;
}

.swiper-slide:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 365px;
  position: absolute;
  left: 10px;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

h3 {
  margin-top: 30px;
  font-size: 1.17rem;
  line-height: 40px;
}

.swiper-slide p {
  font-size: 0.8em;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 0, 0) !important;
  position: absolute;
  padding-bottom: 20px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2.5rem !important;
  font-weight: 900 !important;
}

/*책 호버*/
.hovebox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 372px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 5;
}
.hovebox img {
  width: 70px;
  height: 70px;
  position: relative;
  margin: 5%;
}
.hovebox img:hover {
  filter: invert(14%) sepia(64%) saturate(1873%) hue-rotate(199deg) brightness(84%) contrast(100%);
}

.swiper-slide:hover .hovebox {
  opacity: 1;
  animation: fadeInDown 0.8s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
#center {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#center .bbox {
  width: 429px;
  height: 325px;
  margin: 20px;
  cursor: pointer;
  border-radius: 30px;
  background: palevioletred;
  position: relative;
  box-shadow: 5px 5px 5px gray;
  box-shadow: 5px 5px 5px gray;
}
#center .bbox img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.hove_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 5;
}

#center .bbox:hover .hove_box {
  opacity: 1;
}

/*slick prev,next*/
#center .slick-prev {
  position: absolute;
  left: 0;
  width: 60px;
  border: none;
  background: none;
  height: 60px;
  z-index: 5;
  text-indent: -9999px;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../icon/left.png);
  background-size: cover;
}

#center .slick-prev:hover {
  background: none;
  background-image: url(../icon/left2.png);
  background-size: cover;
  opacity: 0.7;
}

#center .slick-next {
  position: absolute;
  right: 0;
  width: 60px;
  border: none;
  background: none;
  height: 60px;
  z-index: 5;
  text-indent: -9999px;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../icon/right.png);
  background-size: cover;
}

#center .slick-next:hover {
  background: none;
  background-image: url(../icon/right2.png);
  background-size: cover;
  opacity: 0.8;
}

/*slick dots*/
#center .slick-dots {
  bottom: 10px;
  display: flex;
  position: absolute;
}

#center .slick-dots li button {
  text-indent: -9999px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background: rgb(179, 179, 179);
}

#center .slick-dots li button:hover {
  background: #09255d;
}

#center .slick-dots li {
  margin: -15px 15px;
}

#center .slick-dots li button:before {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(15, 15, 15);
  text-align: center;
  content: "";
}

#center .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

#wrap {
  width: 100%;
  height: auto;
}

.bar {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  height: 100px;
  margin-top: 30px;
}
.bar .bartull {
  width: 100%;
  height: auto;
  position: relative;
  top: 15%;
  font-size: 1.58rem;
  line-height: 90px;
  font-weight: bold;
}

/*page1*/
#one {
  width: 1450px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slide {
  display: flex;
  width: 100%;
}

#box {
  width: 465px;
  height: 350px;
  margin: 1%;
  position: relative;
  background: rgb(240, 240, 240);
  border-radius: 0px 0px 20px 20px;
  color: white;
}
#box .subbox {
  width: 100%;
  height: 250px;
  bottom: 0;
  border-radius: 20px;
  position: absolute;
}
#box .subbox .tbox {
  position: relative;
  top: 15%;
  left: 3%;
}
#box .subbox h5 {
  line-height: 25px;
}
#box .subbox h3 {
  font-size: 1.4em;
}
#box .bookbox {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}

/*page2*/
#banner {
  width: 100%;
  height: 70px;
  background: #09255d;
}

h1 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 70px;
  font-weight: 800;
}

p {
  font-size: 0.9em;
}

#best {
  width: 1450px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#best .btn {
  width: 170px;
  height: 50px;
  background: rgb(240, 240, 240);
  margin: 1%;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  border: none;
}
#best .btn:hover {
  background: #09255d;
  color: white;
}

.best_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
  overflow: hidden;
}
.best_box h3 {
  padding-top: 20px;
}

.best_box .box {
  width: 23.6%;
  height: 530px;
  margin: 10px;
  padding: 0px 30px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.light {
  height: 77.1%;
  width: 4px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 39px;
  top: 1px;
}

.best_box .box img {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.best_box .box:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 409px;
  position: absolute;
  left: 30px;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

/*책 호버박스*/
.hoverbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 5;
}
.hoverbox img {
  width: 70px;
  height: 70px;
  position: relative;
  margin: 5%;
}
.hoverbox img:hover {
  filter: invert(14%) sepia(64%) saturate(1873%) hue-rotate(199deg) brightness(84%) contrast(100%);
}

.best_box .box:hover .hoverbox {
  opacity: 1;
  animation: fadeInDown 0.8s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
/*page4*/
#new {
  width: 1450px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.boxcover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  text-align: center;
}
.boxcover .box {
  width: 250px;
  height: 400px;
  margin: 15px;
}
.boxcover img {
  box-shadow: gray 5px 5px 5px;
}
.boxcover p {
  font-size: 0.9em;
}
.boxcover h3 {
  padding-top: 30px;
}

/*page5*/
#month {
  width: 1450px;
  margin: 0 auto;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#month button {
  width: 170px;
  height: 50px;
  background: rgb(240, 240, 240);
  margin: 1%;
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
#month button:hover {
  background: #09255d;
  color: white;
}

.boxcover2 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.boxcover2 .box {
  width: 100%;
  height: 600px;
  margin: 10px;
  border-radius: 50px;
  position: relative;
}

.boxcover2 .box img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.hhbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 50px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 5;
}

.boxcover2 .box:hover .hhbox {
  opacity: 1;
}

.boxcover2 .box:hover {
  transform: translateZ(18px);
}

/*page6*/
#comment {
  width: 100%;
  background: rgb(228, 228, 228);
  height: 650px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#comment .btn {
  width: 170px;
  height: 40px;
  position: relative;
  top: 2%;
  z-index: 5;
  background: #09255d;
  color: white;
  margin-left: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

#comment .btn:hover {
  background: white;
  color: rgb(0, 0, 0);
}

.bar_full {
  width: 1903px;
  font-size: 1.3rem;
  text-align: center;
  height: 100px;
  margin-top: 30px;
}
.bar_full .bar_full_bar {
  width: 100%;
  height: auto;
  position: relative;
  top: 15%;
  font-size: 1.58rem;
  line-height: 90px;
  font-weight: bold;
}

#boxcover3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}
#boxcover3 .box {
  width: 429px;
  height: 325px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px gray;
}
#boxcover3 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/*page7*/
#recommend {
  width: 1450px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.boxcover4 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
}
.boxcover4 .box_recommend {
  width: 350px;
  height: 700px;
}
.boxcover4 .box_recommend .box_book_tull {
  width: 350px;
  height: 420px;
  background: rgb(240, 240, 240);
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
}
.boxcover4 .box_recommend .box_book_tull img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
.boxcover4 .box_recommend .box_book1 {
  width: 230px;
  height: 320px;
  position: relative;
}
.boxcover4 .box_recommend .box_book2 {
  width: 230px;
  height: 320px;
  position: relative;
}
.boxcover4 .box_recommend .box_book3 {
  width: 230px;
  height: 320px;
  position: relative;
}
.boxcover4 .box_recommend .box_book4 {
  width: 230px;
  height: 320px;
  position: relative;
}
.boxcover4 .box_recommend .box_book5 {
  width: 230px;
  height: 320px;
  position: relative;
}
.boxcover4 .box_recommend .box_book6 {
  width: 230px;
  height: 320px;
  position: relative;
}
.boxcover4 .box_recommend .box_book7 {
  width: 230px;
  height: 320px;
  position: relative;
}

.box_book1:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 320px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

.box_book2:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 320px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

.box_book3:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 320px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

.box_book4:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 320px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

.box_book5:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 320px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

.box_book6:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 320px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

.box_book7:after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 282px;
  height: 320px;
  position: absolute;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}

.box_book_tull .light {
  height: 320px;
  width: 4px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 65px;
  top: 50px;
  z-index: 5;
}

.textbox .h3 {
  font-size: 1.17rem;
}
.textbox p {
  font-size: 0.9em;
}