/*width*/
/*width*/
/*text*/
/*box*/
/*button*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
  font-weight: 500;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*header*/
header {
  width: 100%;
  height: auto;
  background: rgb(224, 224, 224);
}

#top {
  width: 1450px;
  height: 100px;
  margin: 0 auto;
  background: paleturquoise;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: auto;
  background: red;
}

.logo img {
  width: 100%;
  height: 100%;
}

header ul {
  width: 800px;
  display: flex;
  background: palegoldenrod;
  align-items: center;
}
header ul li {
  font-size: 1.3rem;
  margin: 2%;
}

/*footer*/
footer {
  height: auto;
  width: 100%;
  background: rgb(126, 255, 165);
  background: #09255d;
  color: white;
}

#bottom {
  width: 1450px;
  margin: 0 auto;
  background: rgb(209, 209, 209);
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.bottombox {
  width: 100%;
  height: auto;
  margin: 1%;
  background: lightslategrey;
  display: flex;
  flex-direction: column;
}

.bottombox img {
  width: 252px;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  font-size: 1.2rem;
  line-height: 50px;
}

/*slider*/
#slider {
  width: 1450px;
  background: olive;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100%;
  height: auto;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box h1 {
  line-height: 50px;
  font-weight: 800;
}
.box button {
  width: 180px;
  height: 45px;
  background: rgb(202, 202, 202);
  border-radius: 30px;
  border: none;
}

.colorbox {
  width: 230px;
  height: 10px;
  background: #09255d;
}

.slider_book {
  width: 501px;
  height: 698px;
  background: palegoldenrod;
  position: relative;
  left: 20%;
}
.slider_book .slider_book_cover {
  width: 440px;
  height: 630px;
  background: #09255d;
  position: absolute;
  right: 23%;
  top: 5%;
}

/*text*/
/*box*/
/*button*/
/*width*/
#advertisement {
  width: 1450px;
  height: 500px;
  background: palegoldenrod;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#advertisement .box {
  width: 100%;
  background: rgb(186, 201, 105);
  height: 350px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#advertisement .box .bannerbox {
  width: 40%;
  height: 350px;
  display: flex;
}
#advertisement .box .banner_text_box {
  width: 40%;
  height: 350px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  position: relative;
  left: 30px;
  white-space: nowrap;
}
#advertisement .box .banner_text_box h2 {
  font-size: 2.5em;
}
#advertisement .box .banner_text_box h3 {
  font-weight: bold;
  font-size: 2em;
  color: #dddddd;
}

/*width*/
/*text*/
/*box*/
/*button*/
/*page8*/
#twobox {
  width: 1450px;
  margin: 0 auto;
  background: rgb(209, 209, 209);
  height: 1000px;
  display: flex;
  justify-content: space-between;
}
#twobox .box:nth-of-type(1) {
  width: 100%;
  background: palevioletred;
  margin: 0;
}
#twobox .box:nth-of-type(2) {
  width: 100%;
  background: rgb(119, 6, 44);
  margin: 0;
}
#twobox .minibanner {
  width: 100%;
  height: 80px;
  background: #09255d;
}
#twobox h1 {
  line-height: 80px;
}
#twobox img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.minicover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.minicover button {
  width: 150px;
  height: 50px;
  background: rgb(255, 197, 255);
  margin: 5%;
  border: none;
}

.minibox {
  width: 345px;
  height: 575px;
  background: yellow;
  margin: 5px;
  border-radius: 30px;
  margin-top: 10%;
  float: left;
}

.minicover2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.minicover2 button {
  width: 150px;
  height: 50px;
  background: rgb(255, 197, 255);
  margin: 8%;
  border: none;
}

.minibox2 {
  width: 345px;
  height: 264px;
  margin: -32px 5px;
  margin-top: 10%;
  float: left;
}

#wrap {
  width: 100%;
  background: pink;
  height: auto;
}

.bar {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  height: 100px;
  background: teal;
  margin-top: 30px;
}
.bar .bartull {
  width: 100%;
  height: auto;
  position: relative;
  top: 15%;
  font-size: 1.58rem;
  line-height: 90px;
}

/*page1*/
#one {
  width: 1450px;
  margin: 0 auto;
  background: rgb(209, 209, 209);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 465px;
  height: 350px;
  background: palevioletred;
  margin: 1%;
  position: relative;
  border-radius: 0px 0px 20px 20px;
}
#box .subbox {
  width: 100%;
  height: 250px;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  border-radius: 20px;
}

/*page2*/
#banner {
  width: 100%;
  height: 70px;
  background: #09255d;
}

h1 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 70px;
  font-weight: 800;
}

#best {
  width: 1450px;
  margin: 0 auto;
  background: rgb(209, 209, 209);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#best button {
  width: 150px;
  height: 50px;
  background: rgb(255, 197, 255);
  margin: 1%;
  border: none;
}

.best_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.best_box .box {
  width: 290px;
  background: wheat;
  height: 450px;
  margin: 1%;
  padding: 10px;
  line-height: 30px;
  text-align: center;
}
.best_box .box img {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/*page4*/
#new {
  width: 1450px;
  margin: 0 auto;
  background: rgb(209, 209, 209);
  height: 600px;
  display: flex;
  flex-direction: column;
}

.boxcover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}
.boxcover .box {
  width: 250px;
  background: red;
  height: 400px;
  margin: 15px;
}

/*page5*/
#month {
  width: 1450px;
  margin: 0 auto;
  background: rgb(209, 209, 209);
  height: 800px;
  display: flex;
  flex-direction: column;
}

.boxcover2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxcover2 .box {
  width: 100%;
  height: 600px;
  margin: 10px;
  border-radius: 50px;
}
.boxcover2 .box img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

/*page6*/
#comment {
  width: 100%;
  background: rgb(126, 255, 165);
  height: 600px;
  display: flex;
  flex-direction: column;
}

#boxcover3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#boxcover3 .box {
  width: 429px;
  height: 325px;
}
#boxcover3 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}