@charset "UTF-8";
/*width*/
/*width*/
/*text*/
/*box*/
/*button*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/*header*/
header {
  width: 100%;
  height: auto;
  background: rgb(240, 240, 240);
}

#top {
  width: 1450px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: auto;
}

.logo img {
  margin-top: 5px;
  width: 90%;
  height: 90%;
}

header ul {
  width: 1%;
  display: flex;
  align-items: center;
}
header ul li {
  font-size: 1.3rem;
  margin: 10px;
  font-weight: bold;
  white-space: nowrap;
}
header ul img {
  width: 29px;
  height: 29px;
  margin-top: 5px;
}

li a:hover {
  color: #09255d;
}

/*햄버거 아이콘*/
.menu_icon {
  position: relative;
  width: 42px;
  height: 35px;
  margin-top: 32px;
}

.menu_icon span {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 7px;
  background: #333;
  border-radius: 4px;
  transform: translate(-50%, 0) rotate(0deg);
  transition: 0.2s ease-in-out;
}

.menu_icon span:nth-child(1) {
  top: 0px;
}

.menu_icon span:nth-child(2),
.menu_icon span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu_icon span:nth-child(4) {
  bottom: 0;
}

.menu_icon.active span:nth-child(1) {
  top: 50%;
  width: 0;
  transform: translate(-50%, -50%);
}

.menu_icon.active span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu_icon.active span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu_icon.active span:nth-child(4) {
  bottom: 50%;
  width: 0;
  transform: translate(-50%, 50%);
}

/*메뉴바*/
/*footer*/
footer {
  height: auto;
  width: 100%;
  background: rgb(238, 238, 238);
  background: #09255d;
  color: white;
}

#bottom {
  width: 1450px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.bottombox {
  width: 100%;
  height: auto;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.bottombox img {
  width: 252px;
}

.bottombox h2 {
  font-size: 2rem;
  font-weight: 800;
}

.bottombox p {
  font-size: 1.2rem;
  line-height: 50px;
}

.p_hover span:hover {
  color: gray;
}

.iconbox {
  cursor: pointer;
}

.iconbox img {
  margin: 2%;
}

.iconbox img:hover {
  opacity: 0.8;
}

/*slider*/
#slider {
  width: 1450px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 100%;
  height: auto;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box button {
  width: 230px;
  height: 50px;
  background: rgb(202, 202, 202);
  border-radius: 30px;
  border: none;
  position: relative;
  bottom: 5%;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.box .textbox {
  margin-bottom: 20%;
}
.box .textbox h1 {
  line-height: 50px;
  font-weight: 800;
}
.box .textbox p {
  line-height: 30px;
  font-size: 0.9em;
}
.box .sub_textbox {
  width: 480px;
  height: 200px;
  position: absolute;
  left: 30%;
  bottom: 12%;
  color: rgb(87, 87, 87);
  white-space: nowrap;
}
.box .colorbox {
  width: 230px;
  height: 10px;
  background: black;
}
.box .slider_book {
  width: 501px;
  height: 698px;
  background: #09255d;
  position: relative;
  left: 20%;
}
.box .slider_book .slider_book_cover {
  width: 440px;
  height: 630px;
  position: absolute;
  right: 23%;
  top: 5%;
  background-image: url(../img/slider_img.png);
  background-size: cover;
}

/*text*/
/*box*/
/*button*/
/*width*/
#advertisement {
  width: 1450px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#advertisement .box {
  width: 100%;
  background: rgb(186, 201, 105);
  height: 350px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#advertisement .box .bannerbox {
  width: 40%;
  height: 350px;
  display: flex;
}
#advertisement .box .banner_text_box {
  width: 40%;
  height: 350px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  position: relative;
  left: 30px;
  white-space: nowrap;
}
#advertisement .box .banner_text_box h2 {
  font-size: 2.5em;
}
#advertisement .box .banner_text_box h3 {
  font-weight: bold;
  font-size: 2em;
  color: #dddddd;
}

/*width*/
/*text*/
/*box*/
/*button*/
/*page8*/
#twobox {
  width: 1450px;
  margin: 0 auto;
  height: 880px;
  display: flex;
  justify-content: space-between;
}
#twobox .box:nth-of-type(1) {
  width: 100%;
  margin: 0;
}
#twobox .box:nth-of-type(2) {
  width: 100%;
  margin: 0;
}
#twobox .minibanner {
  width: 100%;
  height: 80px;
  background: #09255d;
}
#twobox h1 {
  line-height: 80px;
}
#twobox img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.minicover {
  display: flex;
  height: 800px;
  flex-wrap: wrap;
  justify-content: center;
  border-right: 3px solid #09255d;
}
.minicover button {
  width: 150px;
  height: 50px;
  color: black;
  background: rgb(240, 240, 240);
  border: none;
  margin-top: 15%;
}

.minibox {
  width: 345px;
  height: 575px;
  margin: 5px;
  border-radius: 30px;
  margin-top: 10%;
  float: left;
}

.minicover2 {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  justify-content: center;
}
.minicover2 button {
  position: relative;
  width: 150px;
  height: 50px;
  margin-top: 17%;
  color: black;
  background: rgb(240, 240, 240);
  border: none;
}

.minibox2 {
  width: 345px;
  height: 256px;
  margin: -12px 5px;
  margin-top: 10%;
  float: left;
}
.minibox2 h4 {
  padding: 10px;
  text-align: center;
}

button:hover {
  background: #09255d;
  color: white;
}

.swiper-box {
  position: relative;
  cursor: pointer;
}

.swiper {
  width: 92%;
  margin: 0 auto;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  margin-top: 60px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: gray 5px 5px 5px;
}

h3 {
  margin-top: 30px;
  font-size: 1.17rem;
  line-height: 40px;
}

.swiper-slide p {
  font-size: 0.8em;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 0, 0) !important;
  position: absolute;
  padding-bottom: 20px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 2.5rem !important;
  font-weight: 900 !important;
}

#wrap {
  width: 100%;
  height: auto;
}

.bar {
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  height: 100px;
  margin-top: 30px;
}
.bar .bartull {
  width: 100%;
  height: auto;
  position: relative;
  top: 15%;
  font-size: 1.58rem;
  line-height: 90px;
  font-weight: bold;
}

/*page1*/
#one {
  width: 1450px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slide {
  display: flex;
  width: 100%;
}

#box {
  width: 465px;
  height: 350px;
  margin: 1%;
  position: relative;
  background: rgb(240, 240, 240);
  border-radius: 0px 0px 20px 20px;
  color: white;
}
#box .subbox {
  width: 100%;
  height: 250px;
  bottom: 0;
  border-radius: 20px;
  position: absolute;
}
#box .subbox .tbox {
  position: relative;
  top: 15%;
  left: 3%;
}
#box .subbox h5 {
  line-height: 25px;
}
#box .subbox h3 {
  font-size: 1.4em;
}
#box .bookbox {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
}

/*page2*/
#banner {
  width: 100%;
  height: 70px;
  background: #09255d;
}

h1 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  line-height: 70px;
  font-weight: 800;
}

p {
  font-size: 0.9em;
}

#best {
  width: 1450px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#best button {
  width: 170px;
  height: 50px;
  background: rgb(240, 240, 240);
  margin: 1%;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  border: none;
}
#best button:hover {
  background: #09255d;
  color: white;
}

.best_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.best_box .box {
  width: 23.6%;
  height: 520px;
  margin: 10px;
  padding: 0px 30px;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.best_box .box img {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.best_box h3 {
  padding-top: 20px;
}

/*page4*/
#new {
  width: 1450px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.boxcover {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  text-align: center;
}
.boxcover .box {
  width: 250px;
  height: 400px;
  margin: 15px;
}
.boxcover img {
  box-shadow: gray 5px 5px 5px;
}
.boxcover p {
  font-size: 0.9em;
}
.boxcover h3 {
  padding-top: 30px;
}

/*page5*/
#month {
  width: 1450px;
  margin: 0 auto;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#month button {
  width: 170px;
  height: 50px;
  background: rgb(240, 240, 240);
  margin: 1%;
  margin-top: 40px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
#month button:hover {
  background: #09255d;
  color: white;
}

.boxcover2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxcover2 .box {
  width: 100%;
  height: 600px;
  margin: 10px;
  border-radius: 50px;
}
.boxcover2 .box img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

/*page6*/
#comment {
  width: 100%;
  background: rgb(228, 228, 228);
  height: 600px;
  display: flex;
  flex-direction: column;
}
#comment button {
  width: 170px;
  height: 40px;
  background: #09255d;
  color: white;
  margin-left: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
#comment button:hover {
  background: white;
  color: rgb(0, 0, 0);
}

.bar_full {
  width: 1903px;
  font-size: 1.3rem;
  text-align: center;
  height: 100px;
  margin-top: 30px;
}
.bar_full .bar_full_bar {
  width: 100%;
  height: auto;
  position: relative;
  top: 15%;
  font-size: 1.58rem;
  line-height: 90px;
  font-weight: bold;
}

#boxcover3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#boxcover3 .box {
  width: 429px;
  height: 325px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px gray;
}
#boxcover3 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/*page7*/
#recommend {
  width: 1450px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.boxcover4 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
}
.boxcover4 .box_recommend {
  width: 350px;
  height: 500px;
}
.boxcover4 .box_recommend .box_book_tull {
  width: 350px;
  height: 420px;
  background: rgb(240, 240, 240);
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.boxcover4 .box_recommend .box_book_tull img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px gray;
}
.boxcover4 .box_recommend .box_book1 {
  width: 230px;
  background: palegreen;
  height: 320px;
}
.boxcover4 .box_recommend .box_book2 {
  width: 230px;
  background: palegreen;
  height: 320px;
}
.boxcover4 .box_recommend .box_book3 {
  width: 230px;
  background: palegreen;
  height: 320px;
}
.boxcover4 .box_recommend .box_book4 {
  width: 230px;
  background: palegreen;
  height: 320px;
}

.textbox .h3 {
  font-size: 1.17rem;
}
.textbox p {
  font-size: 0.9em;
}