@charset "UTF-8";
/*width*/
/*text*/
/*box*/
/*button*/
#wrap {
  width: 100%;
  height: auto;
}

/*카테고리 바*/
#Kategorie {
  width: 100%;
  height: 48px;
  background: #09255d;
}

#Kategorie .text_tull {
  width: 1450px;
  height: 100%;
  margin: 0 auto;
  color: white;
}
#Kategorie .text_tull h2 {
  font-size: 1.2rem;
  line-height: 50px;
}

/*page1*/
section {
  width: 1450px;
  margin: 0 auto;
  height: 1100px;
  display: flex;
}

/*page1 - book_box*/
.book_box {
  width: 615px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .book_box .book_cover {
  width: 615px;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 1000px;
}

section .book_box .book_cover .book_img {
  width: 527px;
  height: 754px;
  margin-top: 80px;
  margin-left: 20px;
  margin-bottom: 40px;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

section .book_box .book_cover .book_img:hover {
  transform: rotateY(42deg);
  cursor: url(../icon/3d.png), pointer !important;
}

section .book_box .book_cover .book_img::before {
  content: "";
  width: 55px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/sub/book_slide_img.png);
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(90deg);
}

section .book_box .book_cover .book_img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/sub/book_back.jpg);
  background-size: cover;
  background-position: center;
  transform-origin: center;
  transform: rotateY(180deg) translateZ(48px);
}

section .book_box .book_cover .book_img.rotate {
  transform: rotateY(180deg);
}

section .book_box .book_cover .book_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.star {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.star .content {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}
.star button {
  width: 80px;
  height: 30px;
  background: #e93d6f;
  color: white;
  border: none;
  border-radius: 30px;
}

/*page1 - book_box - tip*/
.tiptxt {
  width: 270px;
  height: 35px;
  border-radius: 20px;
  background: #ffffff;
  text-align: center;
  line-height: 35px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 0.9rem;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
}

.tiptxt.on {
  opacity: 0.8;
}

/*page1 - book_box2*/
.book_box2 {
  width: 835px;
  height: 100%;
  position: relative;
}

.book_name {
  width: 100%;
  height: 215px;
  margin-top: 10%;
  line-height: 35px;
  border-bottom: 1px solid gray;
}
.book_name h1 {
  font-size: 2.5rem;
}

.book_name .btn button {
  width: 180px;
  height: 32px;
  border: none;
  border-radius: 30px;
  background: #09255d;
  color: white;
  line-height: 30px;
  margin: 15px 30px 0 0;
  font-weight: bold;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.book_point {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
}
.book_point h4 {
  font-size: 1.3rem;
}
.book_point p {
  line-height: 40px;
}
.book_point .point_box {
  display: flex;
  align-items: center;
}
.book_point .point_box:nth-of-type(1) {
  width: 20%;
}
.book_point .point_box:nth-of-type(2) {
  width: 80%;
}
.book_point .benefit_box {
  display: flex;
  align-items: center;
}
.book_point .benefit_box:nth-of-type(1) {
  width: 20%;
}
.book_point .benefit_box:nth-of-type(2) {
  width: 80%;
}
.book_point span {
  width: 25px;
  height: 25px;
  margin-left: 2.5%;
  margin-bottom: 3px;
  cursor: pointer;
  background: rgb(0, 0, 0);
}
.book_point .bottom {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  line-height: 28px;
  color: white;
}
.book_point span:hover {
  opacity: 0.7;
}

.popup {
  position: absolute;
  width: 368px;
  height: auto;
  right: 39px;
  top: 47.5%;
  border: 1px solid black;
  background: rgb(240, 240, 240);
  text-align: center;
  display: none;
}
.popup h3 {
  margin: 5%;
}
.popup p {
  margin: 4%;
  font-size: 0.9rem;
  text-align: left;
  line-height: 20px;
  color: rgb(73, 73, 73);
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: 28px;
}

.close:hover {
  opacity: 0.5;
}

.book_benefit {
  width: 100%;
  height: 150px;
  line-height: 35px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.book_benefit .benefit_box:nth-of-type(1) {
  width: 25%;
  height: 100%;
  background: palegoldenrod;
}
.book_benefit .benefit_box:nth-of-type(2) {
  width: 75%;
  height: 100%;
}

.book_price {
  width: 100%;
  height: auto;
}

.payment {
  width: 100%;
  height: 320px;
}
.payment table {
  margin: 2%;
  height: 100px;
}
.payment span {
  font-size: 3rem;
  font-weight: bold;
}
.payment th {
  font-size: 1.5rem;
}

.paymentsub1 {
  width: 100%;
  height: 150px;
  padding-top: 25px;
  padding-left: 20px;
  line-height: 60px;
}
.paymentsub1 h2 {
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}
.paymentsub1 .minus {
  width: 32px;
  height: 32px;
  background: rgb(80, 80, 80);
  border: none;
  color: white;
  font-size: 2rem;
  line-height: 36px;
  position: absolute;
  top: 12px;
  left: 48%;
}
.paymentsub1 .plus {
  width: 32px;
  height: 32px;
  background: rgb(80, 80, 80);
  color: white;
  font-size: 2rem;
  line-height: 36px;
  position: absolute;
  top: 12px;
  border: none;
  right: -31px;
}
.paymentsub1 .price_Pay {
  width: 100px;
  text-align: center;
  height: 32px;
  padding-top: 5px;
  font-size: 1.3rem;
}

.paymentsub2 {
  width: 100%;
  height: 170px;
  text-align: right;
  padding-right: 20px;
  line-height: 80px;
}

.cart {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart button {
  width: 48%;
  height: 50px;
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 4px 4px 4px gray;
}
.cart button:nth-of-type(1) {
  background: #001c7d;
}
.cart button:nth-of-type(2) {
  background: black;
}
.cart button:hover {
  background: white;
  border: 2px solid #09255d;
  color: black;
}

/*page2 - series*/
.series {
  width: 1450px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  position: relative;
  border-top: 2px solid gray;
}
.series .seri_txt {
  font-size: 2rem;
  margin: 1.5%;
}

.series_box {
  height: 530px;
  display: flex;
  cursor: pointer;
  position: relative;
  width: 1000%;
  bottom: 30px;
}

.series_box .content_box {
  width: 200px;
  height: 325px;
  margin: 45px;
  cursor: pointer;
  position: relative;
  box-shadow: 5px 5px 5px gray;
  text-align: center;
}
.series_box .content_box img {
  width: 100%;
  height: 100%;
}
.series_box .content_box h3 {
  margin-top: 30px;
  font-size: 1.17rem;
  line-height: 40px;
}
.series_box .content_box p {
  font-size: 0.8em;
  line-height: 25px;
}
.series_box .content_box p:nth-of-type(2) {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(80, 80, 80);
}
.series_box .content_box button {
  width: 150px;
  height: 30px;
  background: rgb(240, 240, 240);
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
.series_box .content_box button:hover {
  background: #09255d;
  color: white;
}

.series span {
  position: absolute;
  top: 0;
  z-index: 10;
}

.series .left {
  position: absolute;
  left: 0;
  top: 40%;
  bottom: 30%;
  font-size: 3.8rem;
  cursor: pointer;
}

.series .right {
  right: 0;
  font-size: 3.8rem;
  cursor: pointer;
  top: 40%;
}

.series span:hover {
  opacity: 0.5;
}

/*page3 - content*/
#content {
  width: 1450px;
  margin: 0 auto;
  height: auto;
}

.contentTitle {
  padding-top: 10px;
  font-size: 15px;
  width: 100%;
  height: auto;
}

#tab_menu {
  height: 60px;
  background: #09255d;
  width: 100%;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
}
#tab_menu .tab_menu {
  width: 25%;
}

.contentClick {
  float: left;
  width: 100%;
  height: auto;
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*책 소개글*/
.booktxtBox {
  width: 90%;
  height: auto;
  margin-top: 5%;
  margin-left: 5%;
}
.booktxtBox p {
  font-size: 1rem;
  margin-left: 5px;
}
.booktxtBox h2 {
  font-size: 1.8rem;
  margin-left: 5px;
}
.booktxtBox iframe {
  margin-top: 5%;
  margin-bottom: 5%;
}
.booktxtBox .booktxtBox_sub {
  width: 100%;
  height: auto;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: column;
}
.booktxtBox .booktxtBox_sub h2 {
  margin-top: 35px;
}
.booktxtBox .book_text {
  line-height: 30px;
}
.booktxtBox .coverbox {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}
.booktxtBox .coverbox img {
  border-radius: 500px;
  width: 250px;
  height: 250px;
  margin: 1%;
}
.booktxtBox .info {
  line-height: 40px;
  width: 1100px;
}
.booktxtBox .info h4 {
  font-size: 1.2rem;
}

/*고객 리뷰*/
.table {
  width: 1450px;
  margin: 0 auto;
  height: 500px;
  display: flex;
}

/*구매자 분포*/
.Buyer_Distribution {
  width: 50%;
  height: auto;
  text-align: center;
  font-size: 1.3rem;
}

.Buyer_cover {
  width: 100%;
  height: 90%;
  display: flex;
}

/*여성*/
.Buyer_cover_left {
  width: 42.5%;
  height: 100%;
}

.Gauge {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  width: 100%;
  height: 16.7%;
  align-items: center;
}

.Gauge .bar {
  width: 75%;
  height: 30px;
  border: 2px solid #e93d6f;
  background: gray;
  position: relative;
}

.Gauge .bar_back {
  background: #e93d6f;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.Gauge i {
  margin-right: 20px;
}

/*나이*/
.age {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.3rem;
  justify-content: center;
}
.age b {
  margin: 23%;
}

/*남성*/
.Buyer_cover_right {
  width: 42.5%;
  height: 100%;
}

.Gauge2 {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  width: 100%;
  height: 16.7%;
  align-items: center;
}

.Gauge2 .bar2 {
  width: 75%;
  height: 30px;
  border: 2px solid #e93d6f;
  background: gray;
  position: relative;
}

.Gauge2 .bar2 .bar_back2 {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e93d6f;
  transform-origin: 0 100%;
  transform: scaleX(1);
  transition: all 0.5s ease-in-out;
}

.Gauge2 i {
  margin-left: 20px;
}

/*평점 분포*/
.mark {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.mark_cover {
  width: 100%;
  height: 70%;
  display: flex;
}

.mark_star {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mark_star .starfull {
  width: 45%;
}
.mark_star b {
  font-size: 2rem;
}

.star_ege {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.star_ege img {
  width: 80%;
  height: 35px;
  margin: 6%;
}

.mark_Gauge_cover {
  width: 60%;
  height: 100%;
}
.mark_Gauge_cover i {
  margin-left: 20px;
}

.mark_Gauge {
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
  width: 100%;
  height: 20%;
  align-items: center;
}

.mark_Gauge .mark_bar {
  width: 82%;
  height: 30px;
  border: 2px solid rgb(233, 61, 111);
  background: gray;
  position: relative;
}

.mark_Gauge .mark_bar .bar_back3 {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(233, 61, 111);
  transform-origin: 0 100%;
  transform: scaleX(1);
  transition: all 0.5s ease-in-out;
}

/*후기 작성*/
.reviewgo {
  width: 100%;
  height: auto;
  display: flex;
  border-top: 2px solid gray;
  margin-top: 20px;
}

.side {
  width: 20%;
  height: 1328px;
  border-right: 2px solid gray;
  text-align: center;
}
.side h2 {
  font-size: 1.7rem;
  margin-top: 30px;
}

.re_text {
  width: 80%;
  height: 30%;
  position: relative;
}

.re_tex_star {
  width: 100%;
  height: 100px;
  position: relative;
}

.re_tex_star .re_tex_Star {
  width: 100%;
  height: 100%;
  position: relative;
}

.re_tex_star .noneStar {
  top: 25px;
  left: 60px;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.re_tex_star .fillStar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 60px;
  z-index: -1;
  display: none;
}

.re_text_go {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index {
  width: 100%;
  height: auto;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.txt_six {
  line-height: 30px;
}

.input_tull {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.input_tull input {
  width: 120px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  background: #09255d;
  color: white;
  margin: 1%;
  border: none;
  font-weight: bold;
}
.input_tull span {
  width: 25px;
  height: 25px;
  margin-left: 1%;
  margin-right: 2%;
  margin-bottom: 3px;
  cursor: pointer;
  background: rgb(0, 0, 0);
}
.input_tull .re_txt_bottom {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  line-height: 28px;
  color: white;
}
.input_tull span:hover {
  opacity: 0.7;
}

.popup2 {
  position: absolute;
  width: 450px;
  height: auto;
  right: 18%;
  top: 18%;
  border: 1px solid black;
  background: white;
  text-align: center;
  display: none;
}
.popup2 h3 {
  margin: 5%;
}
.popup2 p {
  margin: 4%;
  font-size: 0.9rem;
  line-height: 20px;
  color: rgb(73, 73, 73);
}

.close_two {
  position: absolute;
  top: 10px;
  left: 10px;
  background: black;
  color: white;
  width: 25px;
  height: 25px;
  cursor: pointer;
  line-height: 28px;
  z-index: 10;
}

.close_two:hover {
  opacity: 0.5;
}

.re_text_go textarea {
  font-size: 1.1rem;
  padding: 10px;
}

.reviewBox {
  width: 100%;
  height: auto;
}

.reviewText {
  width: 100%;
  height: auto;
  border-top: 2px solid gray;
  display: flex;
}
.reviewText .star_left {
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewText .star_left img {
  width: 232px;
  height: 35px;
}
.reviewText .Txt {
  width: 75%;
  height: 100%;
  line-height: 35px;
}
.reviewText .Txt .text_user {
  width: 90%;
  height: auto;
  margin-top: 30px;
}
.reviewText .Txt .text_user p {
  text-align: justify;
}
.reviewText .Txt .user {
  width: 100%;
  height: auto;
  display: flex;
}
.reviewText .Txt .user .sub_user {
  width: 50%;
  height: 30%;
  margin-bottom: 30px;
}
.reviewText .Txt .user .good_click {
  width: 50%;
  height: 100%;
  background: rgb(68, 59, 134);
}

.text_user2 {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 1% 1% 1% 0;
  cursor: pointer;
}

.text_user2:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.booktxtBox2 {
  width: 1305px;
  height: auto;
  margin: 0 auto;
  padding-top: 10%;
}
.booktxtBox2 table {
  width: 100%;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 10%;
}
.booktxtBox2 table th {
  font-size: 1.3rem;
  width: 25%;
  height: 100px;
  padding: 20px;
  color: white;
  background: #09255d;
}
.booktxtBox2 table td {
  text-align: left;
  border: 1px solid black;
  font-size: 1rem;
  padding: 20px;
  line-height: 60px;
  background: white;
}
.booktxtBox2 table ul {
  background: none;
}
.booktxtBox2 table li {
  font-size: 1rem;
  text-align: left;
  font-weight: lighter;
  color: black;
  width: 100%;
  line-height: 60px;
}

.full_tr {
  width: 100%;
  text-align: center;
  height: 100px;
  color: white;
  background: #09255d;
}
.full_tr h4 {
  font-size: 1.4rem;
  line-height: 60px;
}

#cardWrap {
  width: 1305px;
  height: auto;
  background: #001c7d;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

#cardWrap .card_slide {
  width: 500%;
  height: 600px;
  display: flex;
  position: relative;
}

#cardWrap .card_slide .card_slide_box {
  width: 1305px;
  height: 600px;
  position: relative;
}
#cardWrap .card_slide .card_slide_box img {
  width: 100%;
  height: 100%;
}

#cardWrap span {
  position: absolute;
  top: 45%;
  display: block;
  font-size: 45px;
  line-height: 70px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  height: 70px;
}

#cardWrap span:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #f7f7f7;
}

.prev {
  left: 0;
  border-radius: 0 10px 10px 0px;
  padding: 0 10px 0 2px;
}

.next {
  right: 0;
  border-radius: 10px 0px 0px 10px;
  padding: 0 2px 0 8px;
}

.active {
  background-color: rgb(235, 235, 235);
  color: black;
}

/*page4 - 출판사 리뷰, 추천평*/
#sub_review {
  width: 1450px;
  margin: 0 auto;
  position: relative;
  height: auto;
  margin-top: 35px;
  border-bottom: 1px solid gray;
  overflow: hidden;
}

.tab_sub:not(:first-of-type) {
  display: none;
}

/*출판사 리뷰*/
#publisherWrap {
  height: 390px;
  overflow: hidden;
  line-height: 30px;
  text-align: justify;
  margin-top: 30px;
}
#publisherWrap p {
  font-size: 1rem;
  margin-left: 5px;
}
#publisherWrap h3 {
  font-size: 1.3rem;
  margin-left: 5px;
}

.publisher_toggle > a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 55px 15px 9px 0;
  line-height: 16px;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  color: #4d4d4d;
  background: url("../img/sub/background_gr.png") repeat-x center top;
  z-index: 100;
}

.publisher_toggle > a span:hover {
  opacity: 0.7;
  cursor: pointer;
}

.publisher_toggle_cl {
  display: none;
}

#recommend {
  width: 1450px;
  margin: 0 auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recommend_txt {
  width: 100%;
  height: 80%;
  margin-left: 5px;
  line-height: 40px;
}
.recommend_txt p {
  font-size: 1rem;
}
.recommend_txt h3 {
  font-size: 1.3rem;
}

/*page5 - go_book*/
#go_book {
  width: 100%;
  height: 620px;
  background: rgb(228, 228, 228);
}

#gbox {
  width: 1450px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
}
#gbox .box {
  width: 263px;
  height: 370px;
  margin: 3%;
  box-shadow: 5px 5px 5px gray;
  bottom: 25px;
  position: relative;
}
#gbox img {
  width: 100%;
  height: 100%;
}
#gbox h3 {
  margin-top: 30px;
  font-size: 1.17rem;
  line-height: 40px;
}
#gbox p {
  font-size: 0.8em;
  line-height: 25px;
}
#gbox p:nth-of-type(2) {
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(80, 80, 80);
}

#gbox .title {
  position: absolute;
  top: 5%;
  left: 2%;
}

/*page6 - event*/
#event {
  width: 1450px;
  margin: 0 auto;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.event {
  position: absolute;
  left: 2%;
  top: 3%;
}

.event_box {
  width: 45%;
  height: 300px;
  margin-right: 1%;
  display: flex;
  align-items: center;
}
.event_box .imgbox {
  width: 40%;
  height: 50%;
}
.event_box img {
  width: 100%;
  height: 100%;
}
.event_box .textbox {
  width: 60%;
  height: 100%;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}
.event_box .textbox button {
  width: 70px;
  height: 25px;
  margin-bottom: 10px;
  background: rgb(240, 240, 240);
  border: 1px solid rgb(161, 161, 161);
  font-weight: bold;
  color: rgb(80, 80, 80);
  line-height: 25px;
}

.event_box:nth-of-type(1),
.event_box:nth-of-type(2) {
  margin-top: 50px;
}