@charset "utf-8";

@import 'variable';

#advertisement{
    width: $wid;
    height: 500px;
    background: palegoldenrod;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .box{
        width: 100%;
        background: hotpink;
        height: 350px;
        margin: 0 auto;
        border-radius: 20px;
    }
}
