@charset "utf-8";

@import 'variable', 'mixin';

/*page8*/
#twobox {
    @include box-style;
    height: 880px;
    display: flex;
    justify-content: space-between;

    .box:nth-of-type(1) {
        width: 100%;
        margin: 0;
    }

    .box:nth-of-type(2) {
        width: 100%;
        margin: 0;
    }

    .minibanner {
        width: 100%;
        height: 80px;
        background: $mainColor;
    }

    h1 {
        line-height: 80px;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
    
}
.minicover{
    display: flex;
    height: 800px;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 3px solid $mainColor;
    button{
        width: 150px;
        height: 50px;
        color: black;
        background: $subColor;
        @include button-style;
        margin-top: 15%;
    }
    
}
.minibox{
    width: 345px;
    height: 575px;
    margin: 5px;
    border-radius: 30px;
    margin-top: 10%;
    float: left;
    
}
.minicover2{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    justify-content: center;
    button{
        position: relative;
        width: 150px;
        height: 50px;
        margin-top: 17%;
        color: black;
        background: $subColor;
        @include button-style;
    }
}
.minibox2{
    width: 345px;
    height: 256px;
    margin: -12px 5px;
    margin-top: 10%;
    float: left;
    h4{
        padding: 10px;
        text-align: center;
    }
}
button:hover{
    background: $mainColor;
    color: white;
}

