@charset "utf-8";

/*slider*/
#slider{
    width: $wid;
    background: olive;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 100%;
    height: auto;
    background: lavender;
    margin: 1%;
}

