@charset "utf-8";

/*slider*/
#slider {
    width: $wid;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 100%;
    height: auto;
    margin: 1%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    .btn1 {
            width: 230px;
            height: 50px;
            background: #465980;
            border-radius: 30px;
            @include button-style;
            position: relative;
            bottom: 5%;
            font-size: 1.5em;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    
        .btn1:hover {
            background: $subColor;
            color: rgb(24, 24, 24);
        }
    .textbox {
        margin-bottom: 20%;
        position: relative;

        h1 {
            line-height: 50px;
            font-weight: 800;
        }
        p {
            line-height: 30px;
            font-size: 0.9em;
        }
    }
    .sub_textbox {
        width: 380px;
        position: absolute;
        right: 0;
        bottom: -56%;
        color: rgb(87, 87, 87);
        white-space: nowrap;
    }

    .colorbox {
        width: 230px;
        height: 10px;
        background: #e93d6f;
    }

    .slider_book {
        width: 501px;
        height: 698px;
        background: $mainColor;
        position: relative;
        left: 20%;
        // transform: translateX(100px); transition: all 5s; opacity: 0;

        .slider_book_cover {
            width: 440px;
            height: 630px;
            position: absolute;
            right: 23%;
            top: 5%;
            background-image: url(../img/slider_img.png);
            background-size: cover;
        }
    }
}

