@charset "utf-8";
@import 'variable', 'slider', 'mixin', 'advertisement', 'page8', 'swiper', 'slick','page1';

#wrap {
    width: 100%;
    height: auto;
}

.bar {
    width: 100%;
    @include sub-text-style;
    height: 100px;
    margin-top: 30px;

    .bartull {
        width: 100%;
        height: auto;
        position: relative;
        top: 15%;
        font-size: 1.58rem;
        line-height: 90px;
        font-weight: bold
    }
}

/*page2*/
.banner {
    width: 100%;
    height: 70px;
    background: $mainColor;
}

h1 {
    @include text-style;
}

p {
    font-size: 0.9em
}

#best {
    @include box-style;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .btn {
        width: 170px;
        height: 50px;
        background: $subColor;
        margin: 1%;
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 30px;
        cursor: pointer;
        @include button-style;
    }

    .btn:hover {
        background: $mainColor;
        color: white;
    }
}

.best_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    overflow: hidden;
    h3 {
        padding-top: 20px;
    }
}

.best_box .box {
    width: 23.6%;
    height: 530px;
    margin: 10px;
    padding: 0px 30px;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.light {
    height: 77.1%;
    width: 4px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 39px;
    top: 1px;
}

.best_box .box img {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.best_box .box:after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 282px;
    height: 409px;
    position: absolute;
    left: 30px;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}
/*책 호버박스*/

.hoverbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 430px;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 5;

    img {
        width: 70px;
        height: 70px;
        position: relative;
        margin: 5%;
    }

    img:hover {
        filter: invert(14%) sepia(64%) saturate(1873%) hue-rotate(199deg) brightness(84%) contrast(100%);
    }
}

.best_box .box:hover .hoverbox {
    opacity: 1;
    animation: fadeInDown 0.8s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

/*page4*/
#new {
    @include box-style;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.boxcover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-align: center;

    .box {
        width: 250px;
        height: 400px;
        margin: 15px;
    }

    img {
        box-shadow: gray 5px 5px 5px;
    }

    p {
        font-size: 0.9em;
    }

    h3 {
        padding-top: 30px
    }

}

/*page5*/
#month {
    @include box-style;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;

    button {
        width: 170px;
        height: 50px;
        background: $subColor;
        margin: 1%;
        margin-top: 85px;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
        @include button-style;
    }

    button:hover {
        background: $mainColor;
        color: white;
    }
}
.boxcove{
    width: 1350px;
    margin-right: 7.3%;
    // display: flex;
    margin-top: 50px;
}
.boxcover2 {
    display: flex;
    cursor: pointer;
    position: relative;
    width: 3000px;
    // width: 300%;
}
.boxcover2 .box {
    width: 430px;
    height: 600px;
    margin: 0 0 0 41px;
    border-radius: 50px;
    position: relative;
}
.boxcover2 .box img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
/*방향 버튼*/
.boxcove span{
    position: absolute;
    top: 47.5%;
    z-index: 7;
}
.boxcove .prev{
    position: absolute;
    left: 0;
    font-size: 3.8rem;
    cursor: pointer;
}
.boxcove .next{
    right: 0;
    font-size: 3.8rem;
    cursor: pointer;
}
.boxcove span:hover{
    opacity: 0.5;
}
/*호버박스*/
.hhbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 5;
}
.boxcover2 .box:hover .hhbox {
    opacity: 1;
}

.boxcover2 .box:hover {
    transform: translateZ(18px);
}


/*page6*/
#comment {
    width: 100%;
    background: rgb(228, 228, 228);
    height: 650px;
    display: flex;
    flex-direction: column;
    position: relative;
}
#comment .btn {
        width: 170px;
        height: 40px;
        position: relative;
        top: 2%;
        z-index: 5;
        background: $mainColor;
        color: white;
        margin-left: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        @include button-style;
    }

    #comment .btn:hover {
        background: white;
        color: rgb(0, 0, 0);
    }
.bar_full {
    width: 100%;
    @include sub-text-style;
    height: 100px;
    margin-top: 30px;

    .bar_full_bar {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        position: relative;
        top: 15%;
        font-size: 1.58rem;
        line-height: 90px;
        font-weight: bold;
        img{
            width: 43%;
        }
        span{
            width: 14%;
        }
    }
}

#boxcover3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;

    .box {
        width: 429px;
        height: 325px;
        border-radius: 30px;
        box-shadow: 5px 5px 5px gray;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}
/*page7*/
#recommend {
    @include box-style;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.boxcover4 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;

    .box_recommend {
        width: 350px;
        height: 700px;

        .box_book_tull {
            width: 350px;
            height: 420px;
            background: $subColor;
            display: flex;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.9);
                border-radius: 5px;
            }
        }

        .box_book1 {
            width: 230px;
            height: 320px;
            position: relative;
        }

        .box_book2 {
            width: 230px;
            height: 320px;
            position: relative;
        }

        .box_book3 {
            width: 230px;
            height: 320px;
            position: relative;
        }

        .box_book4 {
            width: 230px;
            height: 320px;
            position: relative;
        }
        .box_book5 {
            width: 230px;
            height: 320px;
            position: relative;
        }
        .box_book6 {
            width: 230px;
            height: 320px;
            position: relative;
        }
        .box_book7 {
            width: 230px;
            height: 320px;
            position: relative;
        }

    }
}
.box_book1:after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 282px;
    height: 320px;
    position: absolute;
    // left: 10px;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}
.box_book2:after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 282px;
    height: 320px;
    position: absolute;
    // left: 10px;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}
.box_book3:after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 282px;
    height: 320px;
    position: absolute;
    // left: 10px;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}
.box_book4:after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 282px;
    height: 320px;
    position: absolute;
    // left: 10px;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}
.box_book5:after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 282px;
    height: 320px;
    position: absolute;
    // left: 10px;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}
.box_book6:after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 282px;
    height: 320px;
    position: absolute;
    // left: 10px;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}
.box_book7:after {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 282px;
    height: 320px;
    position: absolute;
    // left: 10px;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
}
.box_book_tull .light {
    height: 320px;
    width: 4px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 65px;
    top: 50px;
    z-index: 5;
}
.textbox {
    .h3 {
        font-size: 1.17rem;
    }

    p {
        font-size: 0.9em;
    }
}

