@charset "utf-8";

@import 'variable', 'common', 'slider', 'mixin', 'advertisement', 'page8';



#wrap {
    width: 100%;
    background: pink;
    height: auto;
}

.bar {
    width: 100%;
    @include sub-text-style;
    height: 100px;
    background: teal;
    margin-top: 30px;

    .bartull {
        width: 100%;
        height: auto;
        position: relative;
        top: 15%;
        font-size: 1.58rem;
        line-height: 90px;
    }
}

/*page1*/
#one {
    @include box-style;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 465px;
    height: 350px;
    background: palevioletred;
    margin: 1%;
    position: relative;
    border-radius: 0px 0px 20px 20px;

    .subbox {
        width: 100%;
        height: 250px;
        background: rgb(255, 255, 255);
        position: absolute;
        bottom: 0;
        border-radius: 20px;
    }
}

/*page2*/
#banner {
    width: 100%;
    height: 70px;
    background: $mainColor;
}

h1 {
    @include text-style;
}

#best {
    @include box-style;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    button {
        width: 150px;
        height: 50px;
        background: rgb(255, 197, 255);
        margin: 1%;

        @include button-style;
    }
}

.best_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    .box {
        width: 290px;
        background: wheat;
        height: 450px;
        margin: 1%;
        padding: 10px;
        line-height: 30px;
        text-align: center;
    }
    .box img{
        box-shadow: 3px 3px 3px 3px rgb(0,0,0,0.3);
    }
}

/*page4*/
#new {
    @include box-style;
    height: 600px;
    display: flex;
    flex-direction: column;

}



.boxcover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;

    .box {
        width: 250px;
        background: red;
        height: 400px;
        margin: 15px;
    }

}

/*page5*/
#month {
    @include box-style;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.boxcover2 {
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        width: 100%;
        height: 600px;
        margin: 10px;
        border-radius: 50px;
    }
    .box img{
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }
}

/*page6*/
#comment {
    @include full-box-style;
    height: 600px;
    display: flex;
    flex-direction: column;
}

#boxcover3 {
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        width: 429px;
        height: 325px;
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
}


