@charset "utf-8";
@import 'variable', 'mixin';

#wrap {
    width: 100%;
    height: auto;
}

/*카테고리 바*/
#Kategorie {
    width: 100%;
    height: 48px;
    background: $mainColor;
}

#Kategorie .text_tull {
    width: 1450px;
    height: 100%;
    margin: 0 auto;
    color: white;

    h2 {
        font-size: 1.2rem;
        line-height: 50px;
    }
}

/*page1*/
section {
    @include box-style;
    height: 1100px;
    background: pink;
    display: flex;
}

/*page1 - book_box*/
.book_box {
    width: 615px;
    height: 1100px;
    background: palegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.book_img {
    width: 527px;
    height: 754px;
    background: lavenderblush;
    margin-top: 40px;
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.book_img::before {
    content: "";
    width: 30px;
    height: 100%;
    position: absolute;
    background-image: url(../img/sub/book_side.jpg);
    background-size: cover;
    background-position: center;
    transform-origin: left;
    transform: rotateY(90deg);
}

.book_img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/sub/book_back.jpg);
    background-size: cover;
    background-position: center;
    transform-origin: left;
    transform: rotateY(180deg) translateZ(30px);
}


.star {
    width: 100%;
    height: 300px;
    background: rgb(160, 160, 28);
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 50px;
    }

    button {
        width: 80px;
        height: 30px;
        background: #e93d6f;
        color: white;
        border: none;
        border-radius: 30px;
    }
}

/*page1 - book_box2*/
.book_box2 {
    width: 835px;
    height: 100%;
    background: rgb(205, 214, 205);
}

.book_name {
    width: 100%;
    height: 200px;
    margin-top: 8%;
    background: palegoldenrod;
    line-height: 35px;
    border-bottom: 1px solid gray;

    h1 {
        font-size: 2.3rem;
    }
}

.book_name .btn button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 30px;
    background: $mainColor;
    color: white;
}

.book_point {
    width: 100%;
    height: 150px;
    // margin-top: 8%;
    background: rgb(194, 193, 175);
    // line-height: 35px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 20px;
    h4{
        font-size: 1.3rem;
    }
    p{
        line-height: 40px;
    }
    .point_box{
        display: flex;
        align-items: center;
    }
    .point_box:nth-of-type(1) {
        width: 25%;
    }
    .point_box:nth-of-type(2) {
        width: 75%;
    }
    .benefit_box{
        display: flex;
        align-items: center;
    }
    .benefit_box:nth-of-type(1) {
        width: 25%;
    }
    .benefit_box:nth-of-type(2) {
        width: 75%;
    }
    span{
        width: 25px;
        height: 25px;
        border: 1px solid black;
        margin: 2%;
        cursor: pointer;
        position: relative;
    }
    .bottom{
        font-size: 1.1rem;
        text-align: center;
        font-weight: bold;
        line-height: 28px;
    }
}
.popup{
    position: absolute;
    width: 370px;
    bottom: -10px;
    right: 11.9%;
    height: auto;
    border: 1px solid black;
    background: $subColor;
    text-align: center;
    display: none;
    h3{
        margin: 5%;
    }
    p{
        margin: 4%;
        font-size: 0.9rem;
        text-align: left;
        line-height: 20px;
        color: rgb(73, 73, 73);
    }
    .close{
        position: absolute;
        top: 10px;
        right: 10px;
        background: black;
        color: white;
        width: 25px;
        height: 25px;
        cursor: pointer;
        line-height: 28px;
    }
}
.close:hover{
            opacity: 0.5;
        }
.book_benefit {
    width: 100%;
    height: 150px;
    // margin-top: 8%;
    background: rgb(153, 149, 73);
    line-height: 35px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;

    .benefit_box:nth-of-type(1) {
        width: 25%;
        height: 100%;
        background: palegoldenrod;
    }

    .benefit_box:nth-of-type(2) {
        width: 75%;
        height: 100%;
        background: rgb(163, 153, 45);
    }
}

.book_price {
    width: 100%;
    height: auto;
    background: palegoldenrod;
}
.payment{
    width: 100%;
    height: 320px;
    background: lightblue;
    table{
        margin: 2%;
        height: 100px;
    }
    span{
        font-size: 3rem;
        font-weight: bold;
    }
    th{
        font-size: 1.5rem;
    }
}
.paymentsub1{
    width: 100%;
    height: 150px;
    background: lawngreen;
    padding-top: 30px;
    margin: 2%;
    line-height: 60px;
}
.paymentsub2{
    width: 100%;
    height: 170px;
    background: rgb(129, 138, 121);
}


.cart {
    width: 100%;
    height: 100px;
    background: rgb(173, 144, 202);
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 48%;
        height: 50px;
        @include button-style;
        color: white;
        font-size: 1.3rem;
    }

    button:nth-of-type(1) {
        background: #001c7d;
    }

    button:nth-of-type(2) {
        background: black;
    }
}

/*page2 - series*/

#series {
    @include box-style;
    height: 450px;
    background: paleturquoise;
    display: flex;
    justify-content: center;
}

#series_box {
    width: 90%;
    height: 100%;
    background: palegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#series_box .content_box {
    width: 200px;
    height: 325px;
    margin: 20px;
    cursor: pointer;
    background: palevioletred;
    position: relative;
    box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    img{
        width: 100%;
        height: 100%;
    }
}

/*slick prev,next*/

#series_box .slick-prev {
    position: absolute;
    // top: 45%;
    left: -60px;
    width: 60px;
    border: none;
    background: none;
    height: 60px;
    z-index: 5;
    text-indent: -9999px;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../icon/left.png);
    background-size: cover;

}

#series_box .slick-prev:hover {
    background: none;
    background-image: url(../icon/left2.png);
    background-size: cover;
    opacity: 0.7;

}

#series_box .slick-next {
    position: absolute;
    // top: 45%;
    right: 0;
    width: 60px;
    border: none;
    background: none;
    height: 60px;
    z-index: 5;
    text-indent: -9999px;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../icon/right.png);
    background-size: cover;

}

#series_box .slick-next:hover {
    background: none;
    background-image: url(../icon/right2.png);
    background-size: cover;
    opacity: 0.8;

}

/*slick dots*/
#series_box .slick-dots {
    bottom: 10px;
    display: flex;
    position: absolute;
}

#series_box .slick-dots li button {
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    background: rgb(179, 179, 179);
}

#series_box .slick-dots li button:hover {
    background: $mainColor;
}

#series_box .slick-dots li {
    margin: -15px 15px;

}

#series_box .slick-dots li button:before {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(15, 15, 15);
    text-align: center;
    content: '';
}

#series_box .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
}

/*page3 - content*/
#content {
    @include box-style;
    height: auto;
}

.contentTitle {
    padding-top: 10px;
    font-size: 15px;
    width: 100%;
    height: auto;
}

#tab_menu {
    height: 60px;
    background: $mainColor;
    width: 100%;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    .tab_menu{
        width: 25%;
    }
}

.contentClick {
    float: left;
    width: 100%;
    height: auto;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
.booktxtBox{
    width: 90%;
    height: auto;
    background: lavender;
    margin-top: 10%;
    margin-left: 5%;

    p {
        font-size: 1rem;
        margin-left: 5px;
    }

    h3 {
        font-size: 1.5rem;
        margin-left: 5px;
    }

    iframe {
        margin-top: 5%;
        // margin-left: 15%;
        margin-bottom: 5%;
    }

    .booktxtBox_sub {
        width: 100%;
        height: auto;
        border-top: 1px solid gray;
        display: flex;
        flex-direction: column;

        h3 {
            margin-top: 35px;
        }
    }

    .coverbox {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid gray;

        img {
            border-radius: 500px;
            width: 250px;
            height: 250px;
            margin: 1%;
        }
    }

    .info {
        line-height: 40px;
        width: 1100px;

        h4 {
            font-size: 1.2rem;
        }
    }
}
.booktxtBox2 {
    width: 1305px;
    height: auto;
    margin: 0 auto;
    padding-top: 10%;
    // margin-top: 10%;
    // margin-left: 5%;
    table{
    width: 100%;
    text-align: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 10%;
    th{
        font-size: 1.3rem;
        width: 25%;
        height: 100px;
        padding: 20px;
        color: white;
        background: $mainColor;
    }
    td{
        text-align: left;
        border: 1px solid black;
        font-size: 1rem;
        padding: 20px;
        line-height: 60px;
        background: white;
    }
    ul{
        background: none;
    }
    li{
        font-size: 1rem;
        text-align: left;
        font-weight: lighter;
        color: black;
        width: 100%;
        line-height: 60px;
    }
}
}

.full_tr{
    width: 100%;
    text-align: center;
    height: 100px;
    color: white;
    background: $mainColor;
    h4{
        font-size: 1.4rem;
        line-height: 60px;
    }
}
#cardWrap {
    width: 1305px;
    height: 600px;
    background: #001c7d;
    position: relative;
    overflow: hidden;
}
#cardWrap .card_slide {
    width: 500%;
    height: 100%;
}
#cardWrap .card_slide img {
    width: 100%;
    height: 100%;
}
#cardWrap span {
    position: absolute;
    top: 50%;
    display: block;
    font-size: 38px;
    color: #fff;
    line-height: 40px;

    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    height: 50px;
    transform: translateY(-50%);
}

#cardWrap span:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}


.prev {
    left: 0;
    border-radius: 0 10px 10px 0px;
    padding: 0 8px 0 2px;
}

.next {
    right: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 0 2px 0 8px;
}

.active {
    background-color: #d9d9d9;
    color: black
}

/*page4 - 출판사 리뷰, 추천평*/

#sub_review {
    @include box-style;
    // background: rgb(66, 60, 62);
    position: relative;
    height: auto;
    margin-top: 35px;
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.tab_sub:not(:first-of-type) {
    display: none;
}

/*출판사 리뷰*/
#publisherWrap {
    height: 390px;
    overflow: hidden;
    line-height: 30px;
    text-align: justify;

    p {
        font-size: 1rem;
        margin-left: 5px;
    }

    h3 {
        font-size: 1.3rem;
        margin-left: 5px;
    }
}

.publisher_toggle>a {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 55px 15px 9px 0;
    line-height: 16px;
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    color: #4d4d4d;
    background: url("../img/sub/background_gr.png")repeat-x center top;
    z-index: 100;
}

.publisher_toggle>a span:hover {
    opacity: 0.7;
    cursor: pointer;
}

.publisher_toggle_cl {
    display: none;
}


#recommend {
    @include box-style;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommend_txt {
    width: 100%;
    height: 80%;
    margin-left: 5px;
    line-height: 40px;

    p {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}

/*page5 - go_book*/

#go_book {
    width: 100%;
    height: 525px;
    background: palegoldenrod;
}

#gbox {
    @include box-style;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    .box {
        width: 263px;
        height: 350px;
        background: lavender;
        margin: 3%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    h4,
    p {
        text-align: center;
        line-height: 30px;
    }

    p {}
}

#gbox .title {
    position: absolute;
    top: 5%;
    left: 2%;
}

/*page6 - event*/

#event {
    @include box-style;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
}

.event {
    position: absolute;
    left: 2%;
    top: 3%;
}

.event_box {
    width: 45%;
    height: 300px;
    margin-right: 1%;
    display: flex;
    align-items: center;

    .imgbox {
        width: 40%;
        height: 50%;
        background: red;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .textbox {
        width: 60%;
        height: 100%;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3%;

        button {
            width: 70px;
            height: 25px;
            margin-bottom: 10px;
            background: rgb(209, 209, 209);
            border: 1px solid gray;
        }
    }
}

.event_box:nth-of-type(1),
.event_box:nth-of-type(2) {
    margin-top: 50px;
}

