@charset "UTF-8";
/*width*/
/*text*/
/*box*/
/*button*/
#wrap {
  width: 100%;
  height: auto;
}

/*카테고리 바*/
#Kategorie {
  width: 100%;
  height: 48px;
  background: #09255d;
}

#Kategorie .text_tull {
  width: 1450px;
  height: 100%;
  margin: 0 auto;
  color: white;
}
#Kategorie .text_tull h2 {
  font-size: 1.2rem;
  line-height: 50px;
}

/*page1*/
section {
  width: 1450px;
  margin: 0 auto;
  height: 1100px;
  background: pink;
  display: flex;
}

/*page1 - book_box*/
.book_box {
  width: 615px;
  height: 1100px;
  background: palegreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book_img {
  width: 527px;
  height: 754px;
  background: lavenderblush;
  margin-top: 40px;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.book_img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.book_img::before {
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  background-image: url(../img/sub/book_side.jpg);
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(90deg);
}

.book_img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../img/sub/book_back.jpg);
  background-size: cover;
  background-position: center;
  transform-origin: left;
  transform: rotateY(180deg) translateZ(30px);
}

.star {
  width: 100%;
  height: 300px;
  background: rgb(160, 160, 28);
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star .content {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
.star button {
  width: 80px;
  height: 30px;
  background: #e93d6f;
  color: white;
  border: none;
  border-radius: 30px;
}

/*page1 - book_box2*/
.book_box2 {
  width: 835px;
  height: 100%;
  background: rgb(205, 214, 205);
}

.book_name {
  width: 100%;
  height: 200px;
  margin-top: 8%;
  background: palegoldenrod;
  line-height: 35px;
  border-bottom: 1px solid gray;
}
.book_name h1 {
  font-size: 2.3rem;
}

.book_name .btn button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background: #09255d;
  color: white;
}

.book_point {
  width: 100%;
  height: 150px;
  background: rgb(194, 193, 175);
  line-height: 35px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book_point .point_box:nth-of-type(1) {
  width: 25%;
  height: 100%;
  background: palegoldenrod;
}
.book_point .point_box:nth-of-type(2) {
  width: 75%;
  height: 100%;
  background: rgb(163, 153, 45);
}

.book_benefit {
  width: 100%;
  height: 150px;
  background: rgb(153, 149, 73);
  line-height: 35px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.book_benefit .benefit_box:nth-of-type(1) {
  width: 25%;
  height: 100%;
  background: palegoldenrod;
}
.book_benefit .benefit_box:nth-of-type(2) {
  width: 75%;
  height: 100%;
  background: rgb(163, 153, 45);
}

.book_price {
  width: 100%;
  height: auto;
  background: palegoldenrod;
}

.cart {
  width: 100%;
  height: 100px;
  background: rgb(173, 144, 202);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart button {
  width: 48%;
  height: 50px;
  border: none;
  color: white;
  font-size: 1.3rem;
}
.cart button:nth-of-type(1) {
  background: #001c7d;
}
.cart button:nth-of-type(2) {
  background: black;
}

/*page2 - series*/
#series {
  width: 1450px;
  margin: 0 auto;
  height: 450px;
  background: paleturquoise;
  display: flex;
  justify-content: center;
}

#series_box {
  width: 90%;
  height: 100%;
  background: palegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#series_box .content_box {
  width: 200px;
  height: 325px;
  margin: 20px;
  cursor: pointer;
  background: palevioletred;
  position: relative;
  box-shadow: 5px 5px 5px gray;
  box-shadow: 5px 5px 5px gray;
}

/*slick prev,next*/
#series_box .slick-prev {
  position: absolute;
  left: -60px;
  width: 60px;
  border: none;
  background: none;
  height: 60px;
  z-index: 5;
  text-indent: -9999px;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../icon/left.png);
  background-size: cover;
}

#series_box .slick-prev:hover {
  background: none;
  background-image: url(../icon/left2.png);
  background-size: cover;
  opacity: 0.7;
}

#series_box .slick-next {
  position: absolute;
  right: 0;
  width: 60px;
  border: none;
  background: none;
  height: 60px;
  z-index: 5;
  text-indent: -9999px;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../icon/right.png);
  background-size: cover;
}

#series_box .slick-next:hover {
  background: none;
  background-image: url(../icon/right2.png);
  background-size: cover;
  opacity: 0.8;
}

/*slick dots*/
#series_box .slick-dots {
  bottom: 10px;
  display: flex;
  position: absolute;
}

#series_box .slick-dots li button {
  text-indent: -9999px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background: rgb(179, 179, 179);
}

#series_box .slick-dots li button:hover {
  background: #09255d;
}

#series_box .slick-dots li {
  margin: -15px 15px;
}

#series_box .slick-dots li button:before {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(15, 15, 15);
  text-align: center;
  content: "";
}

#series_box .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/*page3 - content*/
#content {
  width: 1450px;
  margin: 0 auto;
  height: 1900px;
  background: rgb(72, 92, 92);
}

.contentTitle {
  padding-top: 10px;
  font-size: 0;
  width: 500px;
  height: 50px;
  background: palegoldenrod;
}

.contentTitle a.on {
  background: #ddc1fb;
  color: #fff;
}

.contentTitle span {
  display: inline-block;
  padding: 5px;
  border: 1px solid #888;
  border-bottom: 0;
  font-size: 50px;
  width: 200px;
  height: 100px;
}

/*page5 - go_book*/
#go_book {
  width: 100%;
  height: 525px;
  background: palegoldenrod;
}

#gbox {
  width: 1450px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
#gbox .box {
  width: 263px;
  height: 350px;
  background: lavender;
  margin: 3%;
}
#gbox img {
  width: 100%;
  height: 100%;
}
#gbox h4,
#gbox p {
  text-align: center;
  line-height: 30px;
}
#gbox .title {
  position: absolute;
  top: 5%;
  left: 2%;
}

/*page6 - event*/
#event {
  width: 1450px;
  margin: 0 auto;
  height: 800px;
  background: lavenderblush;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.event {
  position: absolute;
  left: 2%;
  top: 3%;
}

.event_box {
  width: 45%;
  height: 300px;
  margin-right: 1%;
  background: lawngreen;
  display: flex;
  align-items: center;
}
.event_box .imgbox {
  width: 40%;
  height: 50%;
  background: red;
}
.event_box img {
  width: 100%;
  height: 100%;
}
.event_box .textbox {
  width: 60%;
  height: 100%;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}
.event_box .textbox button {
  width: 70px;
  height: 25px;
  margin-bottom: 10px;
  background: rgb(209, 209, 209);
  border: 1px solid gray;
}

.event_box:nth-of-type(1),
.event_box:nth-of-type(2) {
  margin-top: 50px;
}/*# sourceMappingURL=sub.css.map */